 .u-section-1 {
  min-height: 927px;
}

.u-section-1 .u-shape-1 {
  height: 952px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -530px auto 0 calc(((100% - 1140px) / 2) + -3px);
}

.u-section-1 .u-image-1 {
  width: 296px;
  height: 20px;
  margin: -97px auto 0 calc(((100% - 1140px) / 2) + -3px);
}

.u-section-1 .u-image-2 {
  width: 134px;
  height: 22px;
  margin: 101px auto 0 calc(((100% - 1140px) / 2) + -3px);
}

.u-section-1 .u-image-3 {
  width: 36px;
  height: 36px;
  margin: -31px auto 0 calc(((100% - 1140px) / 2) + 247px);
}

.u-section-1 .u-image-4 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 calc(((100% - 1140px) / 2) + 197px);
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 265px auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -25px auto 0 calc(((100% - 1140px) / 2) + 180px);
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 31px;
  height: 31px;
  margin: -324px auto 60px calc(((100% - 1140px) / 2) + 155px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 993px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 247px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 235px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-top: 11px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-top: -330px;
    margin-left: calc(((100% - 940px) / 2) + 155px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 247px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2) + 155px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 247px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2) + 155px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 247px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 340px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 340px) / 2) + 155px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1425px;
}

.u-section-2 .u-image-1 {
  width: 537px;
  height: 329px;
  filter: brightness(0.55);
  margin: 118px auto 0 0;
}

.u-section-2 .u-group-elements-1 {
  width: 282px;
  min-height: 74px;
  height: auto;
  margin: -95px auto 0 20px;
}

.u-section-2 .u-image-2 {
  width: 264px;
  height: 15px;
  margin: 0 auto 0 9px;
}

.u-section-2 .u-image-3 {
  width: 193px;
  height: 24px;
  margin: 9px auto 0 15px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 2px 0 0;
}

.u-section-2 .u-image-4 {
  width: 537px;
  height: 329px;
  filter: brightness(0.45);
  margin: -308px 0 0 auto;
}

.u-section-2 .u-group-elements-2 {
  width: 391px;
  min-height: 73px;
  height: auto;
  margin: -94px 114px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 181px;
  height: 42px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-image-6 {
  height: 15px;
  margin-top: -57px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 34px 133px 0 0;
}

.u-section-2 .u-image-7 {
  width: 537px;
  height: 327px;
  filter: brightness(0.85);
  margin: 123px 0 0 auto;
}

.u-section-2 .u-image-8 {
  width: 536px;
  height: 327px;
  filter: brightness(0.5);
  margin: -326px auto 0 0;
}

.u-section-2 .u-group-elements-3 {
  width: 522px;
  min-height: 74px;
  margin: -94px 22px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 50px 0 0;
}

.u-section-2 .u-image-9 {
  width: 407px;
  height: 24px;
  margin: -52px 0 0 auto;
}

.u-section-2 .u-image-10 {
  width: 251px;
  height: 16px;
  margin: -46px 0 0 auto;
}

.u-section-2 .u-group-elements-4 {
  width: 630px;
  min-height: 67px;
  height: auto;
  margin: -74px auto 0 20px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 50px 0 0 15px;
}

.u-section-2 .u-image-11 {
  width: 347px;
  height: 24px;
  margin: -45px auto 0 15px;
}

.u-section-2 .u-image-12 {
  width: 323px;
  height: 15px;
  margin: -46px auto 0 0;
}

.u-section-2 .u-group-elements-5 {
  width: 614px;
  min-height: 391px;
  margin: 130px 0 0 auto;
}

.u-section-2 .u-image-13 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-shape-1 {
  height: 221px;
  margin-top: -219px;
  margin-bottom: 0;
}

.u-section-2 .u-group-elements-6 {
  width: 662px;
  min-height: 76px;
  height: auto;
  margin: -105px 0 0 auto;
}

.u-section-2 .u-image-14 {
  width: 390px;
  height: 24px;
  margin: 22px auto 0 67px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 6px 0 0 67px;
}

.u-section-2 .u-image-15 {
  width: 329px;
  height: 15px;
  margin: -76px auto 0 0;
}

.u-section-2 .u-image-16 {
  width: 492px;
  height: 389px;
  filter: brightness(0.7);
  margin: -362px auto 0 0;
}

.u-section-2 .u-group-elements-7 {
  width: 401px;
  min-height: 75px;
  height: auto;
  margin: -102px auto 60px 11px;
}

.u-section-2 .u-text-6 {
  margin: 51px 0 0 16px;
}

.u-section-2 .u-image-17 {
  width: 302px;
  height: 24px;
  margin: -54px auto 0 16px;
}

.u-section-2 .u-image-18 {
  width: 302px;
  height: 15px;
  margin: -45px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2487px;
  }

  .u-section-2 .u-image-1 {
    width: 614px;
    margin-top: 130px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-1 {
    margin-left: 213px;
  }

  .u-section-2 .u-image-4 {
    width: 614px;
    margin-top: 79px;
    margin-right: auto;
  }

  .u-section-2 .u-group-elements-2 {
    margin-right: auto;
    margin-left: 234px;
  }

  .u-section-2 .u-image-7 {
    width: 614px;
    margin-top: 79px;
    margin-right: auto;
  }

  .u-section-2 .u-image-8 {
    width: 614px;
    height: 326px;
    margin-top: 59px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-3 {
    height: auto;
    margin-top: -478px;
    margin-right: auto;
    margin-left: 198px;
  }

  .u-section-2 .u-group-elements-4 {
    margin-top: 311px;
    margin-right: 126px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-5 {
    height: auto;
    margin-top: 84px;
    margin-right: auto;
    margin-left: 163px;
  }

  .u-section-2 .u-group-elements-6 {
    margin-top: -123px;
    margin-right: auto;
    margin-left: 115px;
  }

  .u-section-2 .u-image-16 {
    width: 614px;
    height: 333px;
    margin-top: 106px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-7 {
    margin-top: -121px;
    margin-left: 184px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-elements-1 {
    margin-left: 78px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: 106px;
  }

  .u-section-2 .u-group-elements-3 {
    margin-left: 107px;
  }

  .u-section-2 .u-group-elements-4 {
    margin-right: 21px;
  }

  .u-section-2 .u-group-elements-5 {
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-6 {
    margin-left: 14px;
  }

  .u-section-2 .u-group-elements-7 {
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2431px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 289px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: -91px;
    margin-left: 27px;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 289px;
    margin-top: 115px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: -96px;
    margin-left: 48px;
  }

  .u-section-2 .u-image-7 {
    width: 540px;
    height: 288px;
    margin-top: 121px;
  }

  .u-section-2 .u-image-8 {
    width: 540px;
    height: 287px;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: -445px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-4 {
    margin-top: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-elements-5 {
    width: 540px;
    margin-top: 121px;
  }

  .u-section-2 .u-group-elements-6 {
    width: 540px;
    min-height: 94px;
    margin-top: -125px;
    margin-left: -50px;
  }

  .u-section-2 .u-image-14 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-15 {
    margin-top: -94px;
  }

  .u-section-2 .u-image-16 {
    width: 540px;
    height: 293px;
    margin-top: 90px;
  }

  .u-section-2 .u-group-elements-7 {
    margin-top: -89px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1502px;
  }

  .u-section-2 .u-image-1 {
    height: 182px;
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: -93px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    height: 182px;
    margin-top: 77px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-elements-2 {
    min-height: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-2 .u-image-7 {
    height: 181px;
    margin-top: 83px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-8 {
    height: 181px;
    margin-top: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-elements-3 {
    min-height: 81px;
    margin-top: -357px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 47px;
  }

  .u-section-2 .u-image-9 {
    height: 20px;
    margin-top: -55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-10 {
    margin-top: -45px;
  }

  .u-section-2 .u-group-elements-4 {
    min-height: 84px;
    width: 340px;
    margin-top: 181px;
    margin-right: auto;
    margin-left: -13px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 51px;
    margin-right: 22px;
  }

  .u-section-2 .u-image-11 {
    width: 325px;
    height: 22px;
    margin-top: -60px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-5 {
    min-height: 221px;
    margin-top: 69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-elements-6 {
    width: 336px;
    min-height: 82px;
    margin-top: -133px;
    margin-left: 4px;
  }

  .u-section-2 .u-image-14 {
    width: 323px;
    height: 20px;
    margin-top: 22px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 13px;
  }

  .u-section-2 .u-image-15 {
    width: 218px;
    margin-top: -82px;
  }

  .u-section-2 .u-image-16 {
    height: 184px;
    margin-top: 109px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-elements-7 {
    margin-top: -105px;
    margin-bottom: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-top: 70px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1032px;
}

.u-section-3 .u-image-1 {
  width: 451px;
  height: 296px;
  filter: brightness(0.7);
  object-position: 17.25% 50%;
  margin: 75px auto 0 0;
}

.u-section-3 .u-group-elements-1 {
  width: 465px;
  min-height: 72px;
  height: auto;
  margin: -105px auto 0 27px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 51px 68px 0 113px;
}

.u-section-3 .u-image-2 {
  width: 397px;
  height: 31px;
  object-position: 100% 50%;
  margin: -54px auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 355px;
  height: 15px;
  margin: -49px 0 0 auto;
}

.u-section-3 .u-image-4 {
  width: 303px;
  height: 296px;
  filter: brightness(0.65);
  object-position: 43.63% 50%;
  margin: -264px auto 0 480px;
}

.u-section-3 .u-group-elements-2 {
  width: 395px;
  min-height: 73px;
  height: auto;
  margin: -106px auto 0 421px;
}

.u-section-3 .u-image-5 {
  width: 244px;
  height: 21px;
  margin: 24px 39px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 7px 47px 0 0;
}

.u-section-3 .u-image-6 {
  width: 274px;
  height: 15px;
  margin: -73px 0 0 auto;
}

.u-section-3 .u-image-7 {
  width: 300px;
  height: 298px;
  filter: brightness(0.85);
  object-position: 26.06% 50%;
  margin: -263px auto 0 840px;
}

.u-section-3 .u-group-elements-3 {
  width: 348px;
  min-height: 72px;
  height: auto;
  margin: -107px auto 0 782px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 50px 0 0;
}

.u-section-3 .u-image-8 {
  width: 182px;
  height: 21px;
  margin: -49px 0 0 auto;
}

.u-section-3 .u-image-9 {
  width: 152px;
  height: 15px;
  margin: -44px 0 0 auto;
}

.u-section-3 .u-image-10 {
  width: 454px;
  height: 298px;
  filter: brightness(0.6);
  margin: 139px 0 0 auto;
}

.u-section-3 .u-group-elements-4 {
  width: 250px;
  min-height: 76px;
  height: auto;
  margin: -103px 32px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 52px 0 0;
}

.u-section-3 .u-image-11 {
  width: 150px;
  height: 23px;
  margin: -54px 0 0 auto;
}

.u-section-3 .u-image-12 {
  width: 245px;
  height: 15px;
  margin: -45px auto 0 2px;
}

.u-section-3 .u-image-13 {
  width: 295px;
  height: 298px;
  filter: brightness(0.6);
  object-position: 0% 50%;
  margin: -271px auto 0 345px;
}

.u-section-3 .u-group-elements-5 {
  width: 331px;
  min-height: 76px;
  height: auto;
  margin: -103px auto 0 327px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 52px 47px 0 0;
}

.u-section-3 .u-image-14 {
  width: 217px;
  height: 23px;
  margin: -54px 47px 0 auto;
}

.u-section-3 .u-image-15 {
  width: 291px;
  height: 15px;
  margin: -45px 0 0 auto;
}

.u-section-3 .u-image-16 {
  width: 305px;
  height: 298px;
  filter: brightness(0.6);
  margin: -270px auto 0 0;
}

.u-section-3 .u-group-elements-6 {
  width: 288px;
  min-height: 76px;
  height: auto;
  margin: -103px auto 60px 7px;
}

.u-section-3 .u-image-17 {
  width: 240px;
  height: 23px;
  margin: 22px 4px 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 7px 4px 0 0;
}

.u-section-3 .u-image-18 {
  width: 285px;
  height: 15px;
  margin: -76px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2114px;
  }

  .u-section-3 .u-image-1 {
    width: 605px;
    margin-top: 58px;
    margin-left: auto;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: -103px;
    margin-right: 168px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    width: 605px;
    margin-top: 82px;
    margin-left: auto;
  }

  .u-section-3 .u-group-elements-2 {
    margin-right: 200px;
    margin-left: auto;
  }

  .u-section-3 .u-image-7 {
    width: 605px;
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-3 .u-group-elements-3 {
    margin-top: -108px;
    margin-right: 258px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 51px;
  }

  .u-section-3 .u-image-10 {
    width: 605px;
    margin-top: 63px;
    margin-right: auto;
  }

  .u-section-3 .u-group-elements-4 {
    margin-right: 258px;
  }

  .u-section-3 .u-image-13 {
    width: 605px;
    margin-top: 436px;
    margin-left: auto;
  }

  .u-section-3 .u-group-elements-5 {
    width: 311px;
    margin-top: -92px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 27px;
  }

  .u-section-3 .u-image-14 {
    margin-right: 27px;
  }

  .u-section-3 .u-image-15 {
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-3 .u-image-16 {
    width: 605px;
    margin-top: -644px;
    margin-left: auto;
  }

  .u-section-3 .u-group-elements-6 {
    margin-bottom: 448px;
    margin-left: 325px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2350px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 46px;
    margin-left: 58px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-right: 43px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 89px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-right: auto;
    margin-left: 262px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 91px;
  }

  .u-section-3 .u-group-elements-3 {
    margin-right: auto;
    margin-left: 131px;
  }

  .u-section-3 .u-image-10 {
    margin-top: 94px;
  }

  .u-section-3 .u-group-elements-4 {
    margin-right: auto;
    margin-left: 340px;
  }

  .u-section-3 .u-image-13 {
    margin-top: 85px;
  }

  .u-section-3 .u-group-elements-5 {
    margin-top: -106px;
    margin-left: 325px;
  }

  .u-section-3 .u-image-16 {
    margin-top: 87px;
  }

  .u-section-3 .u-group-elements-6 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2158px;
  }

  .u-section-3 .u-image-1 {
    height: 264px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: -91px;
    margin-right: -34px;
  }

  .u-section-3 .u-image-4 {
    height: 264px;
    margin-top: 78px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: -94px;
    margin-right: -22px;
    margin-left: auto;
  }

  .u-section-3 .u-image-7 {
    height: 266px;
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-3 {
    margin-top: -96px;
    margin-right: 29px;
    margin-left: auto;
  }

  .u-section-3 .u-image-10 {
    height: 266px;
    margin-top: 83px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-4 {
    margin-top: -96px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-image-13 {
    height: 266px;
    margin-top: 78px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-5 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-16 {
    height: 266px;
    margin-top: 92px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-6 {
    width: 287px;
    margin-top: -97px;
    margin-right: 25px;
    margin-left: auto;
  }

  .u-section-3 .u-image-17 {
    margin-right: 3px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1402px;
  }

  .u-section-3 .u-image-1 {
    height: 166px;
    margin-top: 43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-elements-1 {
    min-height: 61px;
    margin-top: -83px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 143px;
  }

  .u-section-3 .u-image-2 {
    height: 27px;
    margin-top: -44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    width: 241px;
    margin-top: -44px;
  }

  .u-section-3 .u-image-4 {
    height: 166px;
    margin-top: 80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-elements-2 {
    width: 340px;
    margin-top: -98px;
    margin-right: -29px;
  }

  .u-section-3 .u-image-7 {
    height: 167px;
    margin-top: 83px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-elements-3 {
    width: 340px;
    margin-top: -91px;
    margin-right: auto;
    margin-left: -25px;
  }

  .u-section-3 .u-image-10 {
    height: 167px;
    margin-top: 77px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-elements-4 {
    margin-top: -99px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-13 {
    height: 167px;
    margin-top: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-elements-5 {
    margin-top: -93px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-3 .u-image-16 {
    height: 167px;
    margin-top: 77px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-elements-6 {
    width: 285px;
    margin-top: -92px;
    margin-right: auto;
  }

  .u-section-3 .u-image-17 {
    margin-right: 1px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 1px;
  }

  .u-section-3 .u-image-18 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 922px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 85px 194px 0 668px;
}

.u-section-4 .u-image-1 {
  width: 434px;
  height: 516px;
  margin: 46px auto 0 16px;
}

.u-section-4 .u-image-2 {
  width: 570px;
  height: 493px;
  margin: -504px 48px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 31px;
  height: 31px;
  margin: 0 auto 0 522px;
}

.u-section-4 .u-image-4 {
  width: 36px;
  height: 36px;
  margin: -33px 534px 0 auto;
}

.u-section-4 .u-image-5 {
  width: 36px;
  height: 36px;
  margin: -36px 478px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1283px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 509px;
    margin-left: 153px;
  }

  .u-section-4 .u-image-1 {
    width: 634px;
    height: 354px;
    margin-top: 47px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 33px;
    margin-right: auto;
    margin-left: 136px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -225px;
    margin-right: 170px;
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    margin-top: 130px;
    margin-right: 165px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -119px;
    margin-right: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 399px;
    margin-left: 43px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 56px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 140px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -31px;
    margin-right: auto;
    margin-left: 293px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -36px;
    margin-right: auto;
    margin-left: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 262px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 301px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 467px;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: 26px;
    margin-left: 114px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 173px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 47px;
    margin-right: 62px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 190px;
  }

  .u-section-4 .u-image-2 {
    height: 294px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: 173px;
    margin-right: 170px;
    margin-left: 92px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 46px;
  }
}