.u-section-1 .u-sheet-1 {
  min-height: 1137px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 321px;
  filter: brightness(0.75);
  margin: 119px auto 0 -22px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 321px;
  filter: brightness(0.8);
  margin: -321px auto 0 592px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 321px;
  filter: brightness(0.6);
  margin: 44px auto 60px -22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: -11px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 381px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-left: 161px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 304px;
    margin-top: -304px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 304px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
    margin-top: -191px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
  }
}